@import url('https://fonts.googleapis.com/css?family=Poppins');

#button-title {
    text-align: center;
    margin-bottom: 15px;
}

#button2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#1476bb;
    border: 0;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px!important;
    padding: 10px;
    margin-top: 3px!important;
    margin-bottom: 35px!important;
    width: 33%;
    height: 5%;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#button1:hover, #button1:focus {
  background: #0f4d79;
}

span {
    font-family: 'Poppins', sans-serif;
}