@import url('https://fonts.googleapis.com/css?family=Poppins');

img {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 35px;
}

  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 700px;
    margin-top: 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  .form button {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#F0A812;
    border: 0;
    width: 50%;
    border: 0;
    -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 5px 5px 5px;
    padding: 15px;
    margin: 20px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #c68b0c;
  }