#searchbar {
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 1000px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: lightgrey;
  margin-top: -50px !important;
}
.form input {
  font-family: 'Poppins', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 25px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form select {
  font-family: 'Poppins', sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 25px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

/* .form button {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:#F0A812;
  border: 0;
  width: 100%;
  border: 0;
  -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
} */
/* .form button:hover,.form button:active,.form button:focus {
  background: #c68b0c;
} */

.searchresults {
  min-width: 200px; 
  padding-left: 0px;  
}

.flightdetaildivider {
  padding-top: 20px;
  font-size: 4.5vw;
}

.cardtitle {
  font-size:3vw !important;
}

.cardtext {
  font-size:1.75vw;
}

label {
  padding-top: 12px
}

.divider {
  width:15px;
  height:auto;
  display:inline-block;
}

.loadingclass {
  position: relative;
  text-align: center !important;
  font-size: 8rem !important;
  color: blue;
  margin-top: -26.5rem !important;
  z-index: 1;
}


input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;  
  width: auto;
}

label {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}

.radiobutton {
  float: left;
  clear: none;
}

fieldset {
  overflow: hidden;
}

.form-row {
  padding-bottom: 20px;
}

.noflightsfound {
  color: black;
  text-align: center;
  background-color: lightcoral;
}

.errorreturned {
  color: black;
  text-align: center;
  background-color: lightcoral;
}